body {
    background-color: black;
    color:white;
}

main {
    display: grid;
    grid-template-areas: 
    "bruker bestill"
    "velg   bestilling"
}

section {
    margin:3rem;
    padding:5px;
}
section.bruker      { grid-area: bruker;}
section.velg        { grid-area: velg;}
section.bestill     { grid-area: bestill;}
section.bestilling  { grid-area: bestilling;}

section.bruker label {
    width: 30rem;
    grid-template-columns: 1fr 3fr;
}
section.velg label {
    width:20rem;
    grid-template-columns: 2fr 3fr;
}
section.form label {
    display: grid;
}

section.bestilling {
    opacity: 0;
}

