#faktura {
    width:794px;
    height: 1122px;
    background-image: url("faktura.png");
    background-size: contain;
    border: solid green 1px;
}

#minfak {
    width:794px;
    height: 1122px;
    outline: solid gray 1px;
    position: absolute;
    top:30px;
    left:10px;
    font-family: 'Arial', Courier, Sans-Serif; 
}

#minfak > div {
    position: absolute;
}

.medtall > div  {
    display: grid;
    grid-template-columns: 12fr 12fr;
}


.medtall > div > span:last-child {
  text-align: left;
}

.tekstboks {
    display: grid;
    grid-template-columns: 1fr;
    width: 15rem;
    line-height: 1rem;
    padding:2px;
}

#kunde {
    left:54px;
    top:132px;
}

#faknr {
    width:18rem;
    left:434px;
    top:204px;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

#retur {
    left:54px;
    top:42px;
    line-height: 0.8rem;
    font-size: 0.8rem;
}

#forfall {
    left:425px;
    top:125px;
    padding:0.6rem;
    background-color: rgba(211, 211, 211, 0.249);
    width: 19rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

#forfall div > span:first-child {
    font-weight: bold;
}


.merknad {
   font-size: 0.8rem;
   font-style: italic;
   padding-top:8px;
   text-align: right;
}

.col2num > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col2num > div  > div {
    text-align: right;
}