:root {
    --header-fg: #F9AE00;
    --header-bg: #761f18;
    --main-bg:#FFF1C1;
    --footer-bg:#FFD974;

}

.maingrid {
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "main"
    "footer";
}

.kolonner3 {
    display: grid;
    grid-template-columns: 1fr  5rem 1fr;
}


.seek {
    grid-area: menu;
    background-color: var(--main-bg);
    color: var(--header-bg);
    min-height: 5vh;
}
header {
    color: var(--header-fg);
    background-color: var(--header-bg);
    height: 135px;
    grid-area: header;
}

header img {
    
}

main {
    background-color: var(--main-bg);
    color: var(--header-bg);
    min-height: 50vh;
    grid-area: main;
   
}

footer {
    color: var(--header-bg);
    background-color: var(--footer-bg);
    min-height: 20vh;
    grid-area: footer;
}