:root {
    --bordfarge:tan;
    --kvit:white;
    --svart:black;
    --ruteDim:calc(600px / 8)
}

body {
    background-color: var(--bordfarge);
}

.rute {
    position: relative;
    width: var(--ruteDim);
    height: var(--ruteDim);
    border: solid gray 1px;
}
.rute.svart {
    background-color: var(--svart);
}
.rute.kvit {
    background-color: var(--kvit);
}

#brett {
    width: calc((var(--ruteDim) + 2px) * 8);
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.rute.bonde::before {
    position: absolute;
    left: 10px;
    top:45px;
    width: 50px;
    height: 20px;
    content: "";
    display: block;
    background-color: green;
}

.rute.bonde::after {
    position: absolute;
    right: 20px;
    top:8px;
    width: 40px;
    height: 40px;
    content: "";
    display: block;
    background-color: green;
    border-radius: 50%;
}