#space {
    position: relative;
    background-color: black;
    height: 400px;
}
#space.landing {
    background-color: blue;
}

#space.crash {
    background-color: red;
}

#start {
    position: absolute;
    left: calc( 50% - 15rem / 2);
    top: calc(50% - 2rem / 2 );
    width: 15rem;
    height: 2rem;
    font-size: 1.3rem;
}


#ground {
    position: relative;
    background-color: burlywood;
    height: 150px;
}
#platform {
    position: absolute;
    background-color: gray;
    height: 40px;
    width: 40px;
    left: 280px;
    top:30px;
}
#bigbang {
    opacity: 0;
    position: absolute;
    background-size: cover;
    background-image: url("bigbang.gif");
    height: 80px;
    width: 80px;
    left: 255px;
    top:0px;
}

#gui {
    position: absolute;
    right: 10px;
    color:white;
    font-size: 1.2rem;
}

.usynlig,
.krasja {
    opacity: 0;
}
#bigbang.aktiv {
    animation: 1s explode forwards;
}

@keyframes explode {
    0% { opacity: 1;}
    99% { opacity: 1;}
    100% { opacity: 0;}
}

.gold {
    background-color: gold;
}

#falcon {
    position: absolute;
    left:0px;
    top:0;
    width: 10px;
    height: 90px;
    background-color: white;
    border: 1px solid black;
    transform: translate(0,0);
    transition: 90ms;
}