#editor {
    height: 80%;
    width: 100%;
    border: solid green 1px;
}

#tegning {
    width: 90%;
    height: 80%;
    border: solid blue 1px;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap:1rem;
    grid-template-columns: 1fr 2fr;
}

.dame,
.fugl {
    background-image: url("fugl.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
}

.jente {
    background-image: url("jente.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 12vh;
}

.hund {
    background-image: url("hund.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
}

.katt {
    background-image: url("katt.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
}

.mann,
.gutt {
    background-image: url("gutt.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 12vh;
}

#tegning > div {
    position: absolute;
}

.gul {
    filter: sepia(100%);
}

.grønn {
    filter: hue-rotate(290deg);
}

.rød {
    filter: hue-rotate(100deg);
}

.brun {
    filter: hue-rotate(190deg);
}

